/hackathon/__MACOSX/
/hackathon/hackathon_template/config.pizza.yml
/hackathon/emcie_server-0.1.0-py3-none-any.whl
/hackathon/hackathon_template.
/hackathon/hackathon_template/config/config.py
/.gitignore
/hackathon/hackathon_template/config.pizza.yml
/hackathon/hackathon_template/pyproject.toml
/hackathon/hackathon_template/poetry.lock
/hackathon/hackathon_template/threads.json
/hackathon/hackathon_template/skills/get_drinks.py
/hackathon/hackathon_template/skills/get_toppings.py
/hackathon/__MACOSX!/hackathon/config.py
!/hackathon/hackathon_template/hackathon_template/main.py
!/hackathon/hackathon_template/config/config.py
